<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="">
        <div class="">

            <div class="jumbotron">
                <div class="container">
                    <h1>About US</h1>
                    <p>Crunches unlimited is an offspring of Quizine Africana, a Nigerian restaurant in Lagos. It
                        represents a bold attempt to refine and present the rich delicacies of Nigeria/Africa to the
                        American public, in a decent environment</p>
                    <p>
                        Driven by a spirit of excellence, the owners and staff of Jollof Etc. work hard daily to satisfy
                        the cravings of our numerous customers
                    </p>

                    <p>
                        At Jollof Etcetera, health consciousness is huge! We serve hot, yummy and finger-licking dishes
                        prepared under the watchful eyes of a Nurse practitioner (Owner). For home-style cooking at its
                        best in DC metro area, Jollof Etcetera is unrivaled
                    </p>
                    <p>
                        <a href="/show" class="btn btn-lg btn-primary">TRY US, GET HOOKED</a>
                    </p>

                    <div>
                        <img src="uploads\images\1615735621743WhatsApp Image 2021-03-12 at 4.19.23 PM.jpeg" alt="map">
                    </div>
                </div>
            </div>
        </div>



    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>