<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="bg">

        </div>

        <div class="jumbotron">
            <div class="container"
                style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: '65vh'">
                <h3>welcome to</h3>
                <h1>Crunches Unlimited</h1>

                <p>number 1 Nigerian food hungies service available online.</p>
                <img src="uploads\images\16152296518325a1ce0894c8ea9.0803308615118419293136.png"
                    style="height: 100px;" />
                <a class="btn-lg btn-dark" href="/show">Explore our menus</a>
            </div>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>