<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="">
        <div class="">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-success">Sweet</h1>
                    
                    <p>Your order is on the way...</p>

                    <p>
                        <a href="/show" class="btn btn-lg btn-primary">Keep ordering food</a>
                    </p>

                </div>
            </div>
        </div>



    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>